/* Ini CSS */
main{
    display: flex;
    justify-content: space-around;
}

/* input{

} */

form{
    background-color: aliceblue;
    padding: 12px;
    border-radius: 8px;
}

.btnhitung{
    border: 1px solid gray;
    background-color: deepskyblue;
    color: white;
    border-radius: 8px;
}
.btnreset{
    background: white;
    border: 1px solid gray;
    border-radius: 8px;
}

.color-section{
    background-color: aliceblue;
    padding: 12px;
    border-radius: 8px;
}

footer{
    text-align: center;
}
