/* Ini CSS */
main{
    display: flex;
    justify-content: space-around;
}

/* input{

} */

form{
    background-color: aliceblue;
    padding: 12px;
    border-radius: 8px;
}

button{
    border: 0cap;
}

.color-section{
    background-color: aliceblue;
    padding: 12px;
    border-radius: 8px;
}

footer{
    text-align: center;
}
